.container {
  position: relative;
  display: flex;
  height: 900px;
  overflow: hidden;
  flex-direction: column;
  background-color: darkgray;
  padding: 24px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.header h1 {
  margin: 0 24px 0 0;
}
.scroll-wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
.scroll-container {
  transform: translateY(0);
  transition: transform 400ms;
}

.row {
  display: flex;
  margin-bottom: 16px;
  height: 40px;
  background-color: transparent;
}

.row.selected {
  background-color: green;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-right: 16px;
  background-color: red;
  cursor: pointer;
}
.item.selected {
  background-color: blue;
}
